/***
*
*  Based on:
*  https://stackoverflow.com/questions/6370690/media-queries-how-to-target-desktop-tablet-and-mobile
*
***/

@media (max-width:480px) {
  /* smartphones, iPhone, portrait 480x320 phones */

  #slideshow {
    width: calc(100% - 60px);
    min-height: 380px;
    margin: -226px 10px;
    padding: 20px;
    top: 50%;
  }

  .slides-wrapper {
    width: 100%;
    margin: 0;
    min-height: 360px;
  }

  .slides-nav {
    left: 50%;
    margin-left: -52px;
    bottom: 70px;
  }

  .action-bar {
    position: absolute;
    bottom: 10px;
    left: 0;
    width: 100%;
  }

  [tooltip]::before,
  [tooltip]::after {
    display: none !important;
  }
}


@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
  /* iPad Portrait */

  #slideshow {
    margin-left: 16%;
  }
}