@import url('https://fonts.googleapis.com/css2?family=Electrolize&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');

body,
h1 {
  font-family: 'Electrolize', sans-serif;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.app {
  background-color: black;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0;
  margin: 0;
}

#tools,
#header {
  font-size: 30px;
  color: #FFF;
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 10px;
  z-index: 1;
}

#header {
  background: rgba(0, 0, 0, 0.8);
}

#header h1 {
  padding: 0 10px;
}

#tools {
  left: auto;
  right: 10px;
}

.tool {
  cursor: pointer;
  background: rgba(0, 0, 0, 0.8);
  padding: 10px;
  margin: 0 auto 5px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: block;
}

.tool.active {
  background: rgba(255, 255, 255, 0.7);
  color: #000;
}

.tool i {
  margin: 5px auto;
}

.tool.account {
  width: 45px;
  height: 45px;
}

.tool.account i {
  margin-top: 11px;
  transform: scale(var(--ggs, 1.5));
}

.tool.move i {
  margin: 11px 0px 0px 11px;
}

.tool.select i {
  --ggs: 1.2;
}


#game {
  top: 0;
  left: 0;
  position: relative;
  margin: 0px;
  width: 100vw;
  height: 100vh;
}


/**
Info Box
**/

.info-box {
  position: absolute;
  min-height: 100px;
  min-width: 100px;
  background-color: rgba(0, 0, 0, 0.9);
  color: rgba(255, 255, 255, 0.9);
  padding: 10px;
}

.info-box .position {
  text-align: center;
  margin: 0 0 5px 0;
  padding: 0 0 5px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.9);
}


/**
	Slider
**/

.color-picker {
  cursor: auto;
  height: 22px;
  line-height: 27px;
  padding: 0;
  width: 100%;
}

.track {
  background: linear-gradient(to right, rgb(204, 0, 0), rgb(204, 204, 0), rgb(51, 204, 0), rgb(0, 204, 204), rgb(0, 0, 204), rgb(204, 0, 204), rgb(204, 0, 0));
  /* #303030;*/
  cursor: ew-resize;
  height: 14px;
}

.pointer {
  position: relative;
  z-index: 2;
  top: 0px;
  height: 22px;
  width: 0px;
  display: inline-block;
}

.shape {
  position: absolute;
  width: calc(100% + 2px);
  margin-left: -3px;
  margin-top: -2px;
  height: 14px;
  border: 2px solid;
  border-radius: 2px;
  border-top-color: rgb(220, 220, 220);
  border-right-color: rgb(220, 220, 220);
  border-bottom-color: rgb(220, 220, 220);
  border-left-color: rgb(220, 220, 220);
}

.color-wrap.red .slider-fg {
  background: rgb(235, 0, 0);
}

.color-wrap.green .slider-fg {
  background: rgb(0, 235, 0);
}

.color-wrap.blue .slider-fg {
  background: rgb(0, 0, 235);
}